body
{
	 font-family: 'Montserrat', sans-serif;
}
#title
{
	background-color: #ff4c68;
	color: white;
}
.container-fluid
{
	padding: 3% 15% 7%;

}
h1
{
 font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;  
   line-height: 1.5; 
    font-weight: 900;
}
h3
{
	font-family: "Monteserrat",sans-serif;

}
p
{
	color: grey;
}
.navbar
{
	padding:0 0 4.5rem;
}
.navbar-brand
{
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}
.navbar-item
{
	padding: 0 18px;
}
.nav-link
{
	font-size: 1.2rem;
	font-family: 'Montserrat-light';
}
.download-button
{
	margin:5% 3% 5% 0;
}
.title-img
{
	max-width: 20%;
	transform: rotate(25deg);
	position: absolute;
	right: 30%;
}
#features
{
	padding: 7% 15%;
	background-color: #fff;
	position: relative;
}
.features
{
	text-align: center;
	padding: 5%;
}
.icon
{
	color:#ef8172 ;
	margin-bottom: 1rem;
}
.icon:hover
{
	color: #ff4c68;
}
#testimonials
{
background-color:#ef8172 ;
padding: 7% 15%;
text-align: center;
}
.testimonials-img
{
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}
#press
{
	background-color:#ef8172 ;
	text-align: center;
	padding: 3%;
}
.press-img
{
	width: 15%;
	margin: 20px 20px 50px;
}
h2
{
	font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;  
   line-height: 1.5; 
    font-weight: 900;
}
em
{
 color: white;	
}
.carousel-item
{
	padding: 7% 15%;
}
#pricing
{
padding: 100px;
text-align: center;
}
.pricing-column
{
	padding: 3% 2%;
}
#cta
{
background-color: #ff4c68;
text-align: center;
padding: 7% 15% 7%;
color: white;
}
#footer
{
text-align: center;
padding: 3% 15% 7%;	
}
.social
{

margin: 20px;
}
.cta-heading
{
	font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;  
   line-height: 1.5; 
    font-weight: 450;
}
@media (max-width: 1028px)
#title
{
text-align:center;
}
{
.title-img{
	position: static;
	transform: rotate(0);
}
}
